@model ReservationProjectMvc.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("AccLogin", "Account", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-row mx-auto" style="width:300px">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { PlaceHolder = "User Name", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Password)
            @Html.TextBoxFor(model => model.Password, new { PlaceHolder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <button type="submit" class="btn btn-success">Login</button>
}

<div>
    <center>
        <p style="color:black; font-weight:bold">If don't have an account create here <a href="@Url.Action("Register","Account")" style="color:#0026ff; margin-left: 20px; font-weight:bold">Signup</a></p>
    </center>
</div>